---
import Layout from '../layouts/BlogPost_image.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 08 2023')}
	heroImage="/pb_ny.png"
>
My name is Marie and I am a 24 year old Data Science student at the IT University of Copenhagen. I work as a student ambassador
 here at ITU, where I among other things teach high-school students about ITU, and work at Coding-Cafe for women. Coding-Cafe is an initiative
 to get more women to study at ITU, since our technical bachelors have a majority of men. Here I teach the young women about Python and give them 
 an introduction to Machine Learning. 
</p>
<p>
	Besides being an ambassador, I work as a TA in Network Analysis (3rd semester) and in 3rd semester StudyLab, where I help the 
	 students with both Network Analysis, Introduction to Databases and Machine Learning. Two hours a week I also volunteer as a 
	  barista in the student cafe, Analog.
</p>
</Layout>
