---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('na-exercises')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<style>
		main {
			width: 960px;
			padding-top: 100px;
		}
		</style>

</html>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				padding-top: 100px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
				
			}
			ul li {
				width: calc(100% - 20px);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
				
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				
			}
			ul li a {
				display: block;
			
			}
			.title-box {
				background-color: #f2f2f2;
				padding: 1rem;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 1200px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
					
				}
			}
		</style>

	</head>
	<body>
		<Header/>
			<main>
				<h1>Hello!</h1>
				<p>
					Here you can explore my website containing various things. I will weekly upload Network Analysis lecture notes and solutions
					to the exercises, and will at some point upload all of my exam preparation notes for Machine Learning.
				</p>
				<p>
					Feel free to add an issue on my github or contact me if you have any feedback or any questions.
				</p>
				<h5><b>Quick links:</b></h5>
			<section>
				<ul>
					{
							<li>
								<a href={`/network-analysis/lecture-10/`} data-astro-prefetch>
									{/*<img width={1200} height={100} src={post.data.heroImage} alt=""/> */}
									<div class="title-box">
										<h4 class="title">Network Analysis - Lecture 10 Notes</h4> 
									</div>
									</p>
								</a>
								<br>
								<a href={`/machine-learning/lecture-20/`}>
									{/*<img width={1200} height={100} src={post.data.heroImage} alt=""/> */}
									<div class="title-box">
										<h4 class="title">Machine Learning - Dimensionality Reduction</h4> 
									</div>
									</p>
								</a>
							</li>
					}
				</ul>
			</section>
			<br>
				<span style="color:grey; font-size: 0.75em">
					Disclaimer: these notes are my own interpretation of what is needed 
					for these courses and to pass the exam, and should
					only serve as guidance. This will never replace the 
					full content of the books and lectures.
				</span>
		</main>
		<Footer />
	</body>
</html>
